<div class="row m-3 p-3" dir="rtl">
    <!-- العمود اليمين: المشرفين + الكنترول -->
    <div class="col-3">
        <h4 class="text-center">👨‍💼 المشرفين</h4>
        <div cdkDropList id="supervisors" [cdkDropListData]="supervisors"
            [cdkDropListConnectedTo]="connectedSupervisorLists" (cdkDropListDropped)="drop($event)" class="list">
            <div class="row">
                <div class="col-6" *ngFor="let sup of supervisors" cdkDrag>
                    <div class="item supervisor text-center">{{ sup.name }}</div>
                </div>
            </div>
        </div>

        <h4 class="text-center mt-4">🎯 الكنترول</h4>
        <div cdkDropList id="controllers" [cdkDropListData]="controllers"
            [cdkDropListConnectedTo]="connectedControllerLists" (cdkDropListDropped)="drop($event)" class="list">
            <div class="row">
                <div class="col-6" *ngFor="let ctrl of controllers" cdkDrag>
                    <div class="item controller text-center">{{ ctrl.name }}</div>
                </div>
            </div>
        </div>
    </div>

    <!-- العمود الشمال: المناطق -->
    <div class="col-9">
        <div class="row">
            <div class="col-md-6 mb-4" *ngFor="let area of areas">
                <div class="area-card p-3 h-100 d-flex flex-column" [style.borderColor]="area.color">
                    <h1 class="fw-bold text-center mb-3 text-light">{{ area.name }}</h1>

                    <!-- لو المنطقة شيفت صباحي -->
                    <ng-container *ngIf="area.name === 'شيفت صباحي'; else normalArea">
                        <!-- المشرف -->
                        <h4 class="fw-bold text-center mb-3" [style.color]="area.color">
                            👨‍💼
                            <span *ngIf="area.supervisors.length > 0" class="fs-1">
                                {{ area.supervisors[0].name }}
                                <i class="fas fa-times remove-btn"
                                    (click)="removePerson(area.supervisors[0], area, 'supervisor')"></i>
                            </span>
                            <!-- مربع فارغ بيظهر لو مفيش مشرف -->
                            <div *ngIf="area.supervisors.length === 0" class="empty-box list" cdkDropList
                                [id]="area.name + '-sup'" [cdkDropListData]="area.supervisors"
                                [cdkDropListConnectedTo]="connectedSupervisorLists" (cdkDropListDropped)="drop($event)">
                                اسحب مشرف هنا
                            </div>
                        </h4>

                        <!-- الشفتات -->
                        <div *ngFor="let shift of area.shifts" class="shift-box mb-3">
                            <h5 class="text-center text-light">{{ shift.name }}</h5>
                            <div class="row">
                                <!-- صباحي -->
                                <div class="col-6">
                                    <h6 class="text-center text-warning">صباحي</h6>
                                    <div cdkDropList [id]="shift.name + '-sabahy'" [cdkDropListData]="shift.sabahy"
                                        [cdkDropListConnectedTo]="connectedControllerLists"
                                        (cdkDropListDropped)="drop($event)" class="list">
                                        <div *ngFor="let ctrl of shift.sabahy" cdkDrag
                                            class="item controller text-center">
                                            {{ ctrl.name }}
                                            <i class="fas fa-times remove-btn"
                                                (click)="removePerson(ctrl, area, 'controller')"></i>
                                        </div>
                                    </div>
                                </div>

                                <!-- Betwen -->
                                <div class="col-6">
                                    <h6 class="text-center text-info">بيتوين</h6>
                                    <div cdkDropList [id]="shift.name + '-between'" [cdkDropListData]="shift.between"
                                        [cdkDropListConnectedTo]="connectedControllerLists"
                                        (cdkDropListDropped)="drop($event)" class="list">
                                        <div *ngFor="let ctrl of shift.between" cdkDrag
                                            class="item controller text-center">
                                            {{ ctrl.name }}
                                            <i class="fas fa-times remove-btn"
                                                (click)="removePerson(ctrl, area, 'controller')"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>

                    <!-- باقي المناطق -->
                    <ng-template #normalArea>
                        <!-- المشرف -->
                        <h4 class="fw-bold text-center mb-3" [style.color]="area.color">
                            👨‍💼
                            <span *ngIf="area.supervisors.length > 0" class="fs-1">{{ area.supervisors[0].name }}
                                <i class="fas fa-times remove-btn"
                                    (click)="removePerson(area.supervisors[0], area, 'supervisor')"></i>
                            </span>
                            <!-- مربع فارغ بيظهر لو مفيش مشرف -->
                            <div *ngIf="area.supervisors.length === 0" class="empty-box list" cdkDropList
                                [id]="area.name + '-sup'" [cdkDropListData]="area.supervisors"
                                [cdkDropListConnectedTo]="connectedSupervisorLists" (cdkDropListDropped)="drop($event)">
                                اسحب مشرف هنا
                            </div>
                        </h4>
                        <!-- <div cdkDropList [id]="area.name + '-sup'" [cdkDropListData]="area.supervisors"
                            [cdkDropListConnectedTo]="connectedSupervisorLists" (cdkDropListDropped)="drop($event)"
                            class="list"></div> -->

                        <!-- الكنترول -->
                        <h6 class="text-light text-center mt-3">🎯 الكنترول ({{ area.controllers.length }})</h6>
                        <div cdkDropList [id]="area.name + '-ctrl'" [cdkDropListData]="area.controllers"
                            [cdkDropListConnectedTo]="connectedControllerLists" (cdkDropListDropped)="drop($event)"
                            class="list controllers-box">
                            <div *ngFor="let ctrl of area.controllers" cdkDrag
                                class="item controller text-center person controller">
                                {{ ctrl.name }}
                                <span class="remove-btn" (click)="removePerson(ctrl, area, 'controller')">×</span>
                            </div>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>

    <div class="fixed-buttons text-center">
        <button class="btn btn-success" (click)="saveDistribution()">💾 حفظ</button>
        <button class="btn btn-info" (click)="loadDistribution()">📂 تحميل</button>
        <button class="btn btn-warning" (click)="resetDistribution()">♻️ إعادة</button>
        <!-- <button class="btn btn-primary" (click)="exportToPDF()">📥 تصدير PDF</button> -->
        <button class="btn btn-success" (click)="exportToWord()">📥 تصدير Word</button>

    </div>

</div>