<div class="row m-3 p-3" dir="rtl">
    <!-- العمود اليمين: المشرفين + الكنترول -->
    <div class="col-3">
        <h4 class="text-center">👨‍💼 المشرفين</h4>
        <div cdkDropList id="supervisors" [cdkDropListData]="supervisors"
            [cdkDropListConnectedTo]="connectedSupervisorLists" (cdkDropListDropped)="drop($event)" class="list">
            <div class="row">
                <div class="col-6" *ngFor="let sup of supervisors" cdkDrag>
                    <div class="item supervisor text-center">{{ sup.name }}</div>
                </div>
            </div>
        </div>

        <h4 class="text-center mt-4">🎯 الكنترول</h4>
        <div cdkDropList id="controllers" [cdkDropListData]="controllers"
            [cdkDropListConnectedTo]="connectedControllerLists" (cdkDropListDropped)="drop($event)" class="list">
            <div class="row">
                <div class="col-6" *ngFor="let ctrl of controllers" cdkDrag>
                    <div class="item controller text-center">{{ ctrl.name }}</div>
                </div>
            </div>
        </div>
    </div>

    <!-- العمود الشمال: الشيفتات -->
    <div class="col-9">
        <h2 class="text-center text-light mb-4">شيفت صباحي</h2>

        <!-- شيفت 1 -->
        <div class="shift-card mb-4 p-3">
            <h4 class="text-center text-warning mb-3">شيفت 1</h4>
            <div class="row">
                <!-- صباحي -->
                <div class="col-6">
                    <h6 class="text-center text-light">صباحي</h6>
                    <div cdkDropList id="shift1-sobhi-sup" [cdkDropListData]="shifts.shift1.sobhi.supervisors"
                        [cdkDropListConnectedTo]="connectedSupervisorLists" (cdkDropListDropped)="drop($event)"
                        class="list">
                        <div *ngIf="shifts.shift1.sobhi.supervisors.length > 0" class="item supervisor text-center">
                            {{ shifts.shift1.sobhi.supervisors[0].name }}
                        </div>
                        <div *ngIf="shifts.shift1.sobhi.supervisors.length === 0" class="placeholder">بدون مشرف</div>
                    </div>

                    <div cdkDropList id="shift1-sobhi-ctrl" [cdkDropListData]="shifts.shift1.sobhi.controllers"
                        [cdkDropListConnectedTo]="connectedControllerLists" (cdkDropListDropped)="drop($event)"
                        class="list mt-2">
                        <div class="row">
                            <div class="col-6 mb-2" *ngFor="let ctrl of shifts.shift1.sobhi.controllers" cdkDrag>
                                <div class="item controller text-center">{{ ctrl.name }}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- بتوين -->
                <div class="col-6">
                    <h6 class="text-center text-light">بتوين</h6>
                    <div cdkDropList id="shift1-between-sup" [cdkDropListData]="shifts.shift1.between.supervisors"
                        [cdkDropListConnectedTo]="connectedSupervisorLists" (cdkDropListDropped)="drop($event)"
                        class="list">
                        <div *ngIf="shifts.shift1.between.supervisors.length > 0" class="item supervisor text-center">
                            {{ shifts.shift1.between.supervisors[0].name }}
                        </div>
                        <div *ngIf="shifts.shift1.between.supervisors.length === 0" class="placeholder">بدون مشرف</div>
                    </div>

                    <div cdkDropList id="shift1-between-ctrl" [cdkDropListData]="shifts.shift1.between.controllers"
                        [cdkDropListConnectedTo]="connectedControllerLists" (cdkDropListDropped)="drop($event)"
                        class="list mt-2">
                        <div class="row">
                            <div class="col-6 mb-2" *ngFor="let ctrl of shifts.shift1.between.controllers" cdkDrag>
                                <div class="item controller text-center">{{ ctrl.name }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- شيفت 2 -->
        <div class="shift-card p-3">
            <h4 class="text-center text-warning mb-3">شيفت 2</h4>
            <div class="row">
                <!-- صباحي -->
                <div class="col-6">
                    <h6 class="text-center text-light">صباحي</h6>
                    <div cdkDropList id="shift2-sobhi-sup" [cdkDropListData]="shifts.shift2.sobhi.supervisors"
                        [cdkDropListConnectedTo]="connectedSupervisorLists" (cdkDropListDropped)="drop($event)"
                        class="list">
                        <div *ngIf="shifts.shift2.sobhi.supervisors.length > 0" class="item supervisor text-center">
                            {{ shifts.shift2.sobhi.supervisors[0].name }}
                        </div>
                        <div *ngIf="shifts.shift2.sobhi.supervisors.length === 0" class="placeholder">بدون مشرف</div>
                    </div>

                    <div cdkDropList id="shift2-sobhi-ctrl" [cdkDropListData]="shifts.shift2.sobhi.controllers"
                        [cdkDropListConnectedTo]="connectedControllerLists" (cdkDropListDropped)="drop($event)"
                        class="list mt-2">
                        <div class="row">
                            <div class="col-6 mb-2" *ngFor="let ctrl of shifts.shift2.sobhi.controllers" cdkDrag>
                                <div class="item controller text-center">{{ ctrl.name }}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- بتوين -->
                <div class="col-6">
                    <h6 class="text-center text-light">بتوين</h6>
                    <div cdkDropList id="shift2-between-sup" [cdkDropListData]="shifts.shift2.between.supervisors"
                        [cdkDropListConnectedTo]="connectedSupervisorLists" (cdkDropListDropped)="drop($event)"
                        class="list">
                        <div *ngIf="shifts.shift2.between.supervisors.length > 0" class="item supervisor text-center">
                            {{ shifts.shift2.between.supervisors[0].name }}
                        </div>
                        <div *ngIf="shifts.shift2.between.supervisors.length === 0" class="placeholder">بدون مشرف</div>
                    </div>

                    <div cdkDropList id="shift2-between-ctrl" [cdkDropListData]="shifts.shift2.between.controllers"
                        [cdkDropListConnectedTo]="connectedControllerLists" (cdkDropListDropped)="drop($event)"
                        class="list mt-2">
                        <div class="row">
                            <div class="col-6 mb-2" *ngFor="let ctrl of shifts.shift2.between.controllers" cdkDrag>
                                <div class="item controller text-center">{{ ctrl.name }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>