<div class="sticky-top text-light shadow p-3 mb-4 d-flex align-items-center justify-content-center"
    style="background-color: black;">

    <!-- اللوجو أقصى الشمال -->
    <a routerLink="/"><img src="assets/WDLogo.jfif" alt="Wadi Degla Logo" class="logo me-auto"
            style="height: 50px;"></a>

    <!-- العنوان في النص -->
    <h2 class="fw-bold mb-0 text-center flex-grow-1">
        🏆 توزيع كنترول النادي
    </h2>

    <button routerLink="/report" class="btn btn-outline-primary text-end">📄 تقرير السنة</button>

</div>

<router-outlet></router-outlet>